body{
    margin: 0;
    background: url(../img/backgraund.png) no-repeat;
    background-size: cover;
}
#menuTop{
    background-image: linear-gradient(black, #1c1c1c, black), radial-gradient(circle at bottom, magenta, cyan, greenyellow);
    background-origin: border-box;
    background-clip: content-box, border-box;
    height: 50px;
    width: 100%;
    justify-content: center;
    display: flex;
}
/* BOTOES */
.btn_menuTop{
    background: radial-gradient(rebeccapurple, rgb(81, 3, 158));
    border: none;
    border-radius: 15px;
    color: rgb(97, 185, 185);
    margin: 5px;
    height: 30px;
    width: 100px;
    font-size: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin-top: 0.5%;
    transition: transform 1s;
    transform: translateX(1) scale(0.5);
}
.btn_menuTop:hover{
    background: radial-gradient(yellow, greenyellow);
    color: rebeccapurple;
    border: none;
    border-radius: 25px;
    margin: 5px;
    margin-top: 0.5%;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transform: translateX(5px) scale(1.2);
}

.btn_salvar{
    margin-bottom: 15%;
    height: 30px;
    width: 100px;
    border-radius: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
    background: -webkit-linear-gradient(right, #56d8e4, #9f01ea);
    transition: transform 1s;
    transform: translateX(1) scale(0.5);
    border: 0;
}
.btn_salvar:hover{
    font-weight: bold;
    transform: translateX(15px) scale(1.0);
   /* background: -webkit-linear-gradient(right, #9f01ea,#56d8e4);*/
}
/*FIM DE BOTOES*/

/*CONTAINER*/

#conteudo{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 5%;
    width: auto;
    height: 500px;
    
}

/*CONTAINER*/

/* CONTEUDO JS */
#contato_js{
    display: none;
}
#filmes_js{
    display: none;
}

/* FIM DE CONTEUDO JS */

/*  FORMULÁRIO */
#contato{
    background-color: rgba(0, 0, 0, 0.3);
    color: magenta;
    height: auto;
    width: 400px;
    border-radius: 30px;
    padding-top: 20px;
}
.campFormContato{
    border: solid 1px rgb(0, 255, 255, 0.5);
    margin: 3.5%;
    background-color: rgba(0, 0, 0, 0.3);
    width: 300px;
    height: 23px;
    font-size: 10px;
    color: yellowgreen;
    border-radius: 10px;
}

.campFormContatoTEXTAREA{
    border: solid 1px rgb(0, 255, 255, 0.5);
    margin: 3.5%;
    background-color: rgba(0, 0, 0, 0.3);
    min-width: 300px;
    min-height: 60px;
    font-size: 10px;
    color: yellowgreen;
    border-radius: 10px;
    max-width: 300px;
    max-height: 300px;
}
.campFormContato:focus{
    outline: none;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-color: #7b359b;
}
.campFormContatoTEXTAREA:focus{
    outline: none;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-color: #7b359b;
}
.campFormContato::placeholder{
    color: cyan;
}

.campFormContatoTEXTAREA::placeholder{
    color: cyan;
}

/* FIM DE FORMULARIO */
/* TABELA DE EXIBIÇÃO */

.tbExibicao{
    background-color: aliceblue;
}

/*  FIM DE TABELA DE EXIBIÇÃO */
